.auth-active-container{
    display: flex;
    height: 100%;
    align-items: center;
}
.auth-active-container a{
cursor: pointer;

font-family: 'DM Sans', sans-serif; /* Heebo */
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-decoration: none;

letter-spacing: 0.4px;
text-transform: uppercase;

color: #FFFFFF;

background: none;
border: none;
}

.separate-rectangle{
    width: 2px;
    height: 13px;
    background: #FD7114;
    margin: 0 15px;
}
.header-welcome{
    margin: 0;
    padding: 0 15px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.accountAvatarOnHeader{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: #FD7114 2px solid;
    background: #333;
}
.letter{
    color: #FFFFFF;
}
.accountButton{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
.arrow-account{
    margin-left: 10px;
}
