.body-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}

.content-container{
  display: flex;
  flex-direction: column;
  width: 860px;
}