.category{
  margin: 0 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px
}
.parameter-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parameter-items-wrapper{
    width: 100%;
}