
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    background-color: #110F21;
    padding: 15px  160px;
}
header a{
    display: flex;
}
.basket-button{
    margin-left: 25px;
}
.header-icons{
    display: flex;
    align-items: center;
    margin-right: 45px;
}
.header-right-side{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.fav-link-button{
    margin-right: 25px;
}