.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: #F1F1F3;
   
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #707070;
}